prestes.cloud {
	root * /srv/site
	file_server
}

deploy.prestes.cloud {
	handle /listener/* {
		reverse_proxy komodo-core:9120
	}
	handle {
		respond "Em breve" 403
	}
}

auth.prestes.cloud {
	reverse_proxy authentik:9000

  	handle /setup* {
		respond 403
	}
}
